{% extends "layouts/base.html" %}
{% block heading %}Recent videos you watched{% endblock %}
{% block content %}
    <script type="text/javascript" src="/static/js/pagination.js"></script>
    <div id="search_results">
        {% for result in results %}
            <div class="double">
                <div class="row">
                    <div class="col-md-6">
                        <a href="{{ url_for('related', video_id=result.videoInfo.id) }}">
                            <img class="img-responsive" src="{{ result.videoInfo.snippet.thumbnails.high.url }}" alt="">
                        </a>
                    </div>
                    <div class="col-md-5">
                        <a href="{{ url_for('related', video_id=result.videoInfo.id) }}">
                            <h3>{{ result.videoInfo.snippet.title }}</h3>
                        </a>
                        <a href="{{ url_for_search(query=result.videoInfo.snippet.channelTitle) }}">
                            <h4>{{ result.videoInfo.snippet.channelTitle }}</h4>
                        </a>
                        <p>{{ result.videoInfo.snippet.description|ellipsis }}</p>
                    </div>
                </div>
                <hr>
            </div>
        {% endfor %}
    </div>
    <center>
        <div class="paging-container" id="tablePaging"></div>
    </center>
    <script type=text/javascript>
        $(function () {
            var load = function () {
                window.tp = new Pagination('#tablePaging', {
                    itemsCount: {{ results|length }},
                    pageRange: [6],
                    onPageChange: function (paging) {
                        var start = paging.pageSize * (paging.currentPage - 1),
                            end = start + paging.pageSize,
                            $rows = $('#search_results').find('.double');
                        $rows.hide();
                        for (var i = start; i < end; i++) {
                            $rows.eq(i).show();
                        }
                    }
                });
            };
            load();
        });
    </script>
{% endblock %}